@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("./reset.css");
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #495670;
  border-radius: 8px;

  background-clip: padding-box;
}
.table__dot {
  width: 8px;
  height: 8px;
  background: #27af06;
  border-radius: 50%;
}
.table__dot-error {
  background: #ff0404;
}
.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0 auto;
}
.emptyListImage {
  width: 64px;
  display: flex;
  justify-content: center;
}
.emptyListImage img {
  max-width: 100%;
}
.emptyListTitle {
  font-size: 20px;
}

.my_modal_comment__block__title {
  padding: 16px;
  padding: 0px 16px 16px 0px;
  font-size: 20px;
}
.info_table,
.info_table th,
.info_table td {
  border: 1px solid #7a7f9d;
  padding: 10px;
}
.info_table {
  border-collapse: collapse;
  caption-side: bottom;
}

.info_table tr td:nth-child(1) {
  color: #fff;
  vertical-align: top;
  font-size: 15px;
}
.info_table tr td:nth-child(2) {
  font-size: 16px;
  word-break: break-all;
}

.swiper-image-container {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.swiper-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #041f31;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .emptyListTitle {
    font-size: 15px;
  }
  .info_table tr td:nth-child(1) {
    font-size: 13px;
  }
  .info_table {
    width: 100%;
    border: 0px;
  }
  .info_table td {
    border: 0.5px solid #7a7f9d;
  }
  .info_table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .info_table tr td:nth-child(1) {
    font-weight: 700;
    font-size: 16px;
  }
  .info_table tr td:nth-child(2) {
    color: #a8b2d1;
  }
}
